{% extends "layout.html" %}
{% block content %}
<h2 class="text-center mt-4 mb-4">
  Conoce donde jugar estas joyas creadas en flash
</h2>

<style>
  h2 {
    color: #000; 
    font-size: 36px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-shadow: 2px 2px 4px rgba(175, 7, 7, 0.808);
  }

  .custom-container h5 {
    font-family: Impact,'Arial Narrow Bold', sans-serif; 
    color: #ffffff; 
    -webkit-text-stroke: 1px black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

  .stretched-link-custom {
    color: #007bff; /* Cambia el color del enlace aquí */
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold; /* Negrita para el enlace */
  }

  .stretched-link-custom:hover {
    color: #0056b3; /* Color del enlace al pasar el ratón */
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }

  .custom-img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
  }

  .custom-container {
    background-color: #212529; /* Color de fondo del cuadro */
    color: #fff; /* Color del texto en el cuadro */
    padding: 20px; /* Espaciado interno del cuadro */
    border-radius: 10px; /* Bordes redondeados del cuadro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del cuadro */
    margin-bottom: 20px; /* Espaciado entre contenedores */
  }

  .custom-container h5 {
    color: #4A0000; /* Color del encabezado en el cuadro */
  }
</style>

<div class="custom-container">
    <div class="row g-0 position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="https://4.bp.blogspot.com/-kV0nuK2PD1c/ViPJbsobvLI/AAAAAAAAC_I/8HeoH16RsxI/s1600/Super-smash-flash-2.jpg" class="custom-img" alt="smash bros en flash!">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Lucha y peleas</h5>
        <p>Los juegos de pelea en Flash son títulos accesibles y jugables directamente desde el navegador, utilizando la tecnología Adobe Flash. Estos juegos permitieron a millones de jugadores disfrutar de combates intensos sin necesidad de descargas extensas o hardware avanzado. Caracterizados por su jugabilidad sencilla y controles intuitivos, estos juegos ofrecían gráficos 2D vibrantes y una gran variedad de personajes.</p>
        <a href="/smash" class="link">Más información</a>
      </div>
    </div>
  </div>

  <div class="custom-container">
    <div class="row g-0 position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="https://i.redd.it/r4ur4iavley41.png" class="custom-img" alt="smash bros en flash!">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Flipline studios</h5>
        <p>Conocido por sus divertidos juegos de simulación de comida y plataformas. En sus populares juegos de cocina, como Papa's Taco Mia, los jugadores gestionan restaurantes, toman pedidos, preparan alimentos y atienden a los clientes para ganar propinas y mejorar el negocio. también ha desarrollado juegos de plataformas, como Cactus McCoy, donde los jugadores controlan a un cactus viviente en una aventura épica llena de acción, enemigos y desafíos.</p>
        <a href="/flipline" class="link">Más información</a>
      </div>
    </div>
  </div>

  <div class="custom-container">
    <div class="row g-0 position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="https://archive.org/download/ruffle-nightly-2021_05_19-web-selfhosted/screenshot_02.png" class="custom-img" alt="smash bros en flash!">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Disparos y armas</h5>
        <p>Una categoría popular de juegos en línea que ofrecían una variedad de experiencias de acción y tiroteos, estos juegos a menudo presentaban gráficos en 2D o en 3D simplificados y se destacaban por su accesibilidad y jugabilidad rápida y divertida. Los jugadores podían enfrentarse a enemigos controlados por la IA o competir contra otros jugadores en modos multijugador. Algunos juegos también incluían elementos de estrategia y personalización de armas.</p>
        <a href="/disparos" class="link">Más información</a>
      </div>
    </div>
  </div>

  <div class="custom-container">
    <div class="row g-0 position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="https://i.ytimg.com/vi/XyPbROcbOjY/maxresdefault.jpg" class="custom-img" alt="randommess!">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Juegos random</h5>
        <p>Abarcan una amplia variedad de géneros y estilos, proporcionando entretenimiento efímero, estos juegos son conocidos por su creatividad y simplicidad, ofreciendo experiencias desde puzzles y plataformas hasta acción y simulaciones. La diversidad y la innovación de estos juegos han hecho que sean un pilar de la nostalgia para muchos jugadores.</p>
        <a href="/random" class="link">Más información</a>
      </div>
    </div>
  </div>

  <style>
    .custom-spacing {
      margin-right: 20px; /* Ajusta el valor según el espacio deseado */
    }

    .btn-custom-primary {
      background-color: #212529;
      color: #fff;
    }
  
    .btn-custom-secondary {
      background-color: #6c757d;
      color: #fff;
    }
  
    .btn-custom-info {
      background-color: #17a2b8;
      color: #fff;
    }
  
    .btn-custom-primary:hover,
    .btn-custom-secondary:hover,
    .btn-custom-info:hover {
        opacity: 0.8;
        background-color: #4A0000; 
        color: #fff;
        border: none;
    }
  </style>
  
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group custom-spacing" role="group" aria-label="First group">
      <a href="/biblioteca" class="btn btn-custom-primary">1</a>
      <a href="/biblioteca2" class="btn btn-custom-primary">2</a>
    </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
{% endblock %}