{% extends "layout.html" %}
{% block content %}
<style>
  .mb-3 {
    color: #666; 
  }

  .card-title {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 1px black;
  }

  .btn-primary {
    background-color: #BA2933;
    border-color: #000;
  }

  .btn-primary:hover {
    background-color: #BA2933;
    border-color: #000;
  }

  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
  }

  /* Nueva clase personalizada para la caja */
  .custom-card {
    background-color: #000; /* Cambia el color de fondo de la caja */
    border-radius: 10px; /* Ajusta los bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajusta la sombra de la caja */
    margin-bottom: 20px; /* Espacio inferior para separación */
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Agrega la clase personalizada a la tarjeta -->
      <div class="card custom-card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Iniciar Sesión</h2>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword">
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <p class="text-center text-muted">¿No tienes cuenta? <a href="/registro">Regístrate aquí</a></p>
    </div>
  </div>
</div>
{% endblock %}
